<footer class="site-footer">

  <div class="wrapper">
    {% if site.social.email %}<a href="{{ site.social.email }}"><i class="svg-icon email"></i></a>{% endif %}
    {% if site.social.github %}<a href="{{ site.social.github }}"><i class="svg-icon github"></i></a>{% endif %}
    {% if site.social.linkedin %}<a href="{{ site.social.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
    {% if site.social.twitter %}<a href="{{ site.social.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
    {% if site.social.stackoverflow %}<a href="{{ site.social.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
  </div>

</footer>
